<?php
/** @var \Denis\Campaign\Block\Adminhtml\Campaign\Edit\Tab\RelatedProducts $block */
/** @var \Denis\Campaign\Block\Adminhtml\Campaign\Edit\Tab\RelatedProducts\Grid $blockGrid */
$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
$selector = 'in_related_products';
?>
<?php echo $block->getGridHtml(); ?>
<input type="hidden" name="<?php echo $block->escapeHtml($selector); ?>" id="<?php echo $block->escapeHtml($selector); ?>" data-form-part="denis_campaign_form" value="" />
<script type="text/x-magento-init">
    {
        "*": {
            "Denis_Campaign/js/related-data": {
                "selectedProducts": <?php /* @escapeNotVerified */ echo $block->getDataJson(); ?>,
                "selector": <?php /* @escapeNotVerified */ echo '"' . $selector . '"'; ?>,
                "gridJsObjectName": <?php /* @escapeNotVerified */ echo '"' . $gridJsObjectName . '"' ?: '{}'; ?>
            }
        }
    }
</script>
<script>
    require('mage/apply/main').apply();
</script>
