<?php
/** @var \Denis\Campaign\Block\Campaign\Product\Label $block */
$campaigns = $block->getCampaigns();
?>
<?php if (!empty($campaigns)): ?>
<ul>
    <?php foreach ($campaigns as $campaign): ?>
        <li class="label"><?php echo $block->escapeHtml($campaign->getTitle()); ?></li>
    <?php endforeach; ?>
</ul>
<?php endif; ?>
